@media all and (max-width: 770px) {
  .liimage {
    padding-left:15px;
  }
  .bouton1 {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .borderight {
    border-right: none;
    border-bottom: 1px solid lightgray;
  }
  .divtitre {
    margin-top: 4em;
    margin-bottom: 7em;
  }
  .divpaid {
    text-align: center;
  }
}
@media all and (min-width: 770px) {
  .bouton1 {
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .borderight {
    border-right: 1px solid lightgray;
  }
  .divtitre {
    margin-top: 8em;
    margin-bottom: 14em;
  }
  .divpaid {
    text-align: left;
  }
}
body {
  font-family: sans-serif;
}

#Home {
  background-image: url("../img/payments-banner-graphic.png");
}
.test {
  margin-top: 2vh;
  margin-bottom: 0;
}
.pad {
  padding-left: 0;
}
.image img {
  height: 5.5vh;
}
.titre {
  font-size: 3vh;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 1vw;
  color: white;
  letter-spacing: 0.1em;
  line-height: 1.79em;
}
.titre2, .titre3 {
  font-size: 2vh;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 2.67em;
}
.titre3 {
    margin-left: 15px;
}
.titre2 {
  margin-left: 15px;
}
.titre2 p, .titre3 p{
  margin: 0;
}
.back {
  background: transparent;
  color: white;
}

.divtitre h1 {
  color: white;
}
.divtitre p {
  color: white;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1.2em;
}
.divtitre button {
  color: rgb(125, 125, 174);
}
.bulle {
  z-index: 999;
  background-color: rgb(121, 121, 171);
  color: white;
  border-radius: 50%;
  padding: 1em;
  box-shadow: 0px 3px 10px gray;
}
.bubulle {
  position:fixed;
  top:90%;
  right:0;
  z-index:99;
}
.apresbulle {
  margin-top: 5em;
  margin-bottom: 5em;
}
.divh2 h2{
  color: rgb(77, 77, 77);
  font-size: 18px;
}
.divh2 p {
  color: rgb(127, 113, 109);
  font-size: 14px;
  font-weight: 500;
}
.audessusprix {
  margin-top: 2em;
}
.divsection3 {
  border-top: 2px solid lightgray;
  background-color: rgb(246, 259, 251);
  padding-top: 5em;
  padding-bottom: 5em;
}
.divsection3 p {
  color: rgb(127, 113, 109);
  font-size: 1em;
}
.divpaid p {
  color: rgb(127, 113, 109);
}
#Section4 {
  background-color: rgb(76, 83, 92);
}
#Section4 h4 {
  color:white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.graph1 {
  background-color: rgb(124, 213, 239);
  overflow: hidden;
}
.graph1 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 33em;
  transform: translateY(6.5em);
  overflow: hidden;
}
.graph2 {
  background-color: rgb(128, 128, 190);
  overflow: hidden;
}
.graph2 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 33em;
  transform: translateY(7em);
  overflow: hidden;
}
.graph3 {
  background-color: rgb(124, 213, 239);
  overflow: hidden;
}
.graph3 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 33em;
  transform: translateY(8em);
  overflow: hidden;
}
